# Eploratory data analysis of IPL 2023

This project is to explore the IPL 2023 data set to gain valuable insights into the trends and patterns underlying in the data

The data science languages are
1. Python
2. R
3. Scala
4. Julia
5. MATLAB

The data science libraries are

1. Pandas
2. Numpy
3. Scikit learn
4. matplotlib

# Table

<table> 
    <tr><td>data science tools</td></tr>
    <tr><td> Matlab </td></tr>
<tr><td> KNIME </td></tr>
<tr><td> Tableau </td></tr>
<tr><td> Weka </td></tr>
<tr><td> RapidMiner </td></tr>
<tr><td> Apache Spark </td></tr>
    </table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
3+4

7

In [8]:
5/4

1.25

In [9]:
5*3

15

In [10]:
9-4

5

In [11]:
6-7*9+7

-50

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(34*46)+555

2119

In [14]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hrs = 200 / 60
hrs

3.3333333333333335

# objectives
<ul>
<li>List of popular data science tools</li>
<li>List of popular data science libraries</li>
<li>This a simple arithmetic expression to mutiply then add integers</li>
<li>This will convert 200 minutes to hours by diving by 60</li>
</ul>

## Author
Steve Samson